#map {
  height: 100%;
  width: 100%;
}
#checkboxSwitchView{
   transform: scale(2);
}
#mapview{
  height: 100%;
  width: 100%;
  display:none;
}
#scene{
  height: 100%;
  width: 100%;
}

#infobox {
  background-color: grey;
  opacity: 0.7;
  color: white;
  width: 50%;
}