#map {
  height: 100%;
  width: 100%;
  z-index: 1;
}
#settings{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}
#checkboxSwitchView{
   transform: scale(2);
}
#mapview{
  height: 100%;
  width: 100%;
  display:none;
}

#scene{
  height: 100%;
  width: 100%;
}
